<h2>Eventos</h2>

<hr>

<form class="row row-cols-lg-auto g-3 align-items-center" action="">
  <div>
    <label class="visually-hidden" for="inlineFormInputGroupUsername"></label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="buscar" />
    </div>
  </div>
  <div>
    <button type="submit" class="btn btn-outline-success">Buscar</button>
  </div>
</form>

<hr>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm"
        (click)="exibirImagens()">
        {{!mostrarImagem ? "Exibir" : "Ocultar"}}
        </button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th class="text-center">Data</th>
      <th class="text-center">Qtd Pessoas</th>
      <th class="text-center">Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img [collapse]="!mostrarImagem"
        [isAnimated]="true"
         src="/assets/{{evento.imagemURL}}"
        alt=""
        [style.width.px]="larguraImagem"
        [style.margin.px]="margemImagem"
        >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td class="text-center">{{evento.dataEvento}}</td>
      <td class="text-center">{{evento.qtdPessoas}}</td>
      <td class="text-center">{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
